<div class="login">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-center">Login here...</h5>
      <hr>
      <form>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="email" class="form-control" id="username" placeholder="Enter your username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter your password">
        </div>
        <div class="mt-4 d-grid">
          <button class="btn btn-primary btn-block">Login</button>
        </div>
      </form>
    </div>
  </div>
  <div class="mt-4">
    <h3>Sample user to login.</h3>
    <code>
      <div>
        Username: <strong>test</strong>
      </div>
      <div>
        Password: <strong>test@123</strong>
      </div>
    </code>
  </div>
</div>