<div class="login">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-center">Login here...</h5>
      <hr>
      <form [formGroup]="loginFormGroup" (ngSubmit)="onLoginSubmit()">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text"
            [ngClass]="{'form-control': true, 'is-invalid': isSubmitted && loginFormGroup.controls['username'].hasError('required')}"
            id="username" placeholder="Enter your username" formControlName="username" required>
          <div class="invalid-feedback mt-2"
            *ngIf="isSubmitted && loginFormGroup.controls['username'].hasError('required')">
            Please enter username.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password"
            [ngClass]="{'form-control': true, 'is-invalid': isSubmitted && loginFormGroup.controls['password'].hasError('required') || (loginFormGroup.controls['password'].hasError('minlength') || loginFormGroup.controls['password'].hasError('maxlength'))}"
            id="password" placeholder="Enter your password" formControlName="password" required>
          <div class="invalid-feedback mt-2"
            *ngIf="isSubmitted && loginFormGroup.controls['password'].hasError('required')">
            Please enter password.</div>
          <div class="invalid-feedback mt-2"
            *ngIf="isSubmitted && (loginFormGroup.controls['password'].hasError('minlength') || loginFormGroup.controls['password'].hasError('maxlength'))">
            Please enter a valid password (Password should be between {{passwordMinLength}} and {{passwordMaxLength}}).
          </div>
        </div>
        <div class="mt-4 d-grid">
          <button class="btn btn-primary btn-block">Login</button>
        </div>
      </form>
    </div>
  </div>
  <div class="mt-4">
    <h3>Sample user to login.</h3>
    <code>
      <div>
        Username: <strong>test</strong>
      </div>
      <div>
        Password: <strong>test@123</strong>
      </div>
    </code>
  </div>
</div>